name: "DEV DEPLOY"

on:
  push:
    branches:
      - develop

permissions:
  id-token: write
  contents: read

jobs:
  terraform:
    uses: ./.github/workflows/terraform.yml
    with:
      environment: "dev"
      aws-assume-role-arn: "arn:aws:iam::993125448362:role/github-action-arthur-pipeline"
      aws-region: "sa-east-1"
      aws-statefile-s3-bucket: "arthurdev1998-sa-east-1-terraform"
      aws-lock-dynamodb-table: "arthurdev1998-sa-east-1-terraform"